#div1 {
    width: 150px;
    height: 150px;
    margin: 50px;
    background-color: aqua;
    transition-property: width, background-color;
    transition-duration: 1s;
    transition-delay: 20ms;
    transition-timing-function: ease;

}

div#div1:hover {
    width: 500px;
    background-color: blueviolet;
}

/* for scale()  */
/* .item {
        background-color: rgb(253, 207, 166);
        height: 25px;
        width: 25px;
        transform: scale(15);
        font-size: 1px;
        padding: 1px;
        color: black;
        line-height: 2px;
    }

body, html {
    height: 75%;
    width: 52%;
}

body {
    display: flex;
    align-items:    center;
    justify-content: center;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */

/* for translate */
/* .div {
        border-radius: 3px;
        width: 200px;
        height: 200px;
        margin: 20px;
        position: absolute;
        transition: 1s;
    }

    .d1{
        background-color: #6363fb;
    }

    .d2{
        background-color: #32ea79;
    }
    .d2:hover {
        transform: translate(25px, 25px);
    } */

/* .div {
        border-radius: 5% 50% 5% 50%;
        width: 100px;
        height: 100px;
        margin: 50px;
        background-color: #9173ca;
        transition: 3s;
    }

    .div:hover {
        transform: rotate(360deg);
    } */

/* .item {    
        height: 100px;
        width: 100px;
        background-color: orange;
        font-size: 1px;
        padding: 1px;
        margin: 10%;
        transition: 1s;
    }
    .item:hover {
        transform: skew(20deg);
    } */