.flex-container{
    display: flex;
    background-color: black;
}

.flex-container  div{
    background-color: aqua;
    color: black;
    font-weight: bolder;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100px;
}

/* Flex Direction */
/* ‘Flex-direction’ determines the direction in which the container wants to stack the flex items. 

It has four different values: 

column (arrange the items vertically (from top to bottom)), 
row (place the items vertically (from left to right)), 
column-reverse (place the items vertically (from bottom to top)), and 
row-reverse(arrange the items vertically (from right to left)). */

/* .flex-container{
    flex-direction:row ;
} */

/* Flex-wrap  */

/* .flex-container{
flex-wrap: wrap;
} */


/* Justify-Content */

/* .flex-container{
    /* justify-content: center; */

/* }  */

/* Align-items  */
.flex-container{
    height: 200px;

    /* align-items: stretch;  */
/* align-items: center; */
}



/* Align-content  */
.flex-container{
    
    align-content:space-between; 

}